* {box-sizing: border-box;
}

body {
	font-family: "Georgia", "Times", "Times New Roman", "serif";
}

.wrapper {
	background-image: url(../images/ignasi_pattern_s.png);
	margin: 0 auto 0 auto;
	width: 960px;
}

#navbar {
	position: relative;
	background: #ffffff;
	width: 960px;
	height: 70px;
	border-bottom: 2px solid #cccccc;
}

#heading1 {
	position: absolute;
	left: 12%;
	background: #4aaaa5;
	color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
}

#navbuttons {
	position: absolute;
	left: 62%;
	bottom: 2px;
	height: 70px;
	padding: 10px;
	background: #ffffff;
	color: #cccccc;
}

section {
	float: left;
	width: 650px;
	background: #ffffff
	color: #777777;
}

aside {
	float: right;
	width: 270px;
	background: #666;
}

footer {
	padding: 30px;
	clear: both;
	background: #666666;
	text-align: center;
}

/*	font-family: "Georgia", "Times", "Times New Roman", "serif";
*/